#!/usr/bin/make -f
# -*- makefile -*-
#
#  #export DH_VERBOSE=1

include /usr/share/dpkg/architecture.mk
include /usr/share/mpi-default-dev/debian_defaults

export OMPI_MCA_plm_rsh_agent=/bin/false

CMAKE_FLAGS = -DCMAKE_INSTALL_PREFIX=/usr -C../cmake/presets/all_on.cmake -C../cmake/presets/nolib.cmake -DBUILD_LIB=yes -DBUILD_SHARED_LIBS=yes -DPKG_USER-INTEL=no

BUILD_DIR = obj-$(DEB_BUILD_GNU_TYPE)

%:
	dh $@ --buildsystem=cmake --builddirectory=$(BUILD_DIR)

override_dh_auto_configure:
	mkdir -p $(BUILD_DIR)
	(cd $(BUILD_DIR) && cmake $(CMAKE_FLAGS) ../cmake)
